@use 'fonts';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;    
    background: no-repeat center/70px url(../images/loader.gif) #424466;
}

body {        
    visibility: visible;
    opacity: 1;    
    transition: opacity 3s;

    .disabled & {
        visibility: hidden;
        opacity: 0;
    }
}

.gong-popup {
    position: fixed;
    display: block;    
    top: 0;
    left: 0;
    z-index: 5555;
    width: 100vw;
    height: 100vh;
    opacity: 1;    
    transition: visibility 0s 3s, opacity 1s linear;       
    background: url('../images/fight.gif') 50% 50% no-repeat;
    background-size: 400px;

    &.disabled {
        visibility: hidden;
        opacity: 0;
    }
}

.main {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    grid-column-gap: 0;
    grid-row-gap: 0;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    transition: top 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #424466;

    .disabled & {
        display: none;
    }
}

.wall {
    position: absolute;
    top: 0;    
    z-index: 9999;
    width: 87px;
    height: 100%;
    background: url(../images/wall.png) 0 0 repeat-y;
    background-size: contain;

    &.-left {
        left: -48px;
    }

    &.-right {
        right: -48px;
        transform: rotateY(180deg);
    }
}

.arenas {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: no-repeat bottom/cover url(../images/arenas/scorpions-lair-arenas.png);
}

.player1,
.player2 {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
}

.player1 {
    left: 0;

    &.priority {
        z-index: 3;
    }
}

.player2 {
    right: 0;

    &.priority {
        z-index: 3;
    }
}

.progressbar {
    position: absolute;
    top: 10%;
    display: flex;    
    width: 70%;
    border: 4px solid #f5d100;
    background-color: #cd0e03;

    .player1 & {
        left: 50px;
    }

    .player2 & {
        right: 50px;
        flex-direction: row-reverse;
    }
}

.life {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0431f9;
}

.name {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    min-height: 15px;
    font-size: 26px;
    line-height: 1.2em;
    color: #efefef;
    font-family: 'Mortal Kombat 3';
    letter-spacing: 2px;
    text-transform: uppercase;

    .player1 & {
        left: 5px;
    }

    .player2 & {
        right: 5px;
    }
}

.chat-holder {
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    border-top: 4px solid #f5d100;
    box-sizing: border-box;
    background: no-repeat center/cover url('../images/menu-bg.png') #333;    
}

.chat-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;    
    overflow: auto;
    color: white;
    font-family: monospace;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: linear-gradient(transparent, #000);

        &:hover {
            border-radius: 3px;
            background: linear-gradient(transparent, #f5d100);
        }
    }

    p {
        b {
            color: #09f;
            font-family: "Mortal Kombat 3";
        }

        em {
            color: #f5d100;
            font-family: "Mortal Kombat 3";
        }

        u {
            color: #f00;
        }
    }
}

.character {
    position: absolute;
    bottom: 3%;
    width: 150px;
    height: 60%;
    transition: 1s;

    &.jump-to-top {
        bottom: 20%;
    }

    .player1 & .player1-fly,
    .player2 & .player2-fly {
        position: absolute;
        top: 0;
        z-index: 2;
        display: inline-block;
        transition: 3s linear;
    }

    .player1 & {
        left: 20%;

        img {
            left: 0;
        }

        &.run-back {
            img {
                transform: scaleX(-1);
            }
        }

        .player1-fly {
            left: 50%;
        }
    }

    .player2 & {
        right: 20%;

        img {
            right: 0;
            transform: scaleX(-1);
        }

        &.run-back {
            img {
                transform: scaleX(1);
            }
        }

        .player2-fly {
            right: 50%;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        height: 100%;
    }
}

.resultTitle {
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    z-index: 1000;    
    font-size: 36px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #cd0e03;
    font-family: "Mortal Kombat 3";
}

.button {
    position: relative;    
    padding: 0 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 36px;
    color: white;
    text-transform: uppercase;
    font-family: "Mortal Kombat 3";
    cursor: pointer;
    outline: none;
    background-color: #f5d100;

    &:hover {
        background-color: #ffea00;
    }

    &:active {
        top: 2px;

        &::after {
            top: 1px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        z-index: -1;
        background-color: #cd0e03;
    }
}

.reloadWrap {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0%);

    button {
        margin-top: 0;
    }
}

button[disabled],
button[disabled]:hover,
form:invalid button,
form:invalid button:hover {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #000;
}

button[disabled]::after,
form:invalid button::after {
    opacity: 0.1;
}

button[disabled]:active,
form:invalid button:active {
    top: 0;
} 

button[disabled]:active::after,
form:invalid button:active::after {
    top: 4px;
}

.control {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    padding: 20px 30px;
    box-sizing: border-box;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.6);

    &.disabled {
        transform: translate(-50%, -50%) scale(0);
    }
}

.inputWrap {
    position: relative;
    width: 280px;
    margin-bottom: 24px;

    h2 {
        margin: 0 auto 20px;
        color: #efefef;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Mortal Kombat 3';
    }
}

.buttonWrap {
    margin-top: 12px;
}

.target-list {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
    border: solid 3px #cd0e03;
    color: #efefef;
    font-family: 'Mortal Kombat 3';

    label {
        cursor: pointer;

        &:nth-of-type(2) {
            margin: 0 -4.5px;
        }

        span {
            position: relative;
            display: inline-block;
            width: 60px;
            font-size: 18px;
            line-height: 2.7em;
            transition: 0.3s;
            text-align: center;

            &:hover {
                background-color: rgba(107, 185, 240, 0.2);
            }

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                width: 100%;
                height: 100%;
                transform: scaleY(1.4);
                transition: 0.3s;
                z-index: -1;
            }
        }
    }
}

input {
    display: none;

    &[type=radio]:checked + label > span {
        color: #fff;
        font-weight: 700;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &[type=radio]:checked + label > span::before {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        background: #f5d100;
    }

    &[type=radio]:checked + label > span:hover {
        background: none;
    }
}

/*** TABLETS ***/

/*** TABLETS H ***/
@media only screen and (max-width: 1370px) and (max-height: 912px) {
    .gong-popup {
        background-size: 30vw;
    }

    .progressbar {
        top: 5%;
        width: 50%;
        border: 2px solid #f5d100;
    }
    
    .name {
        font-size: 15px;
    }

    .control {
        top: 38%;
    }

    .reloadWrap {
        top: 3.6%;
    }

    .resultTitle {
        top: 16%;
        font-size: 32px;
    }

    .inputWrap {
        width: 280px;
        margin-bottom: 14px;

        h2 {margin-bottom: 14px;}
    }

    .target-list label span {
        font-size: 14px;
        line-height: 2.4em;        
    }
}

/*** TABLETS V ***/
@media only screen and (max-width: 912px) and (max-height: 1370px) {
    .gong-popup {
        background-size: 30vw;
    }

    .progressbar {
        top: 5%;
        width: 50%;
        border: 2px solid #f5d100;
    }
    
    .name {
        font-size: 15px;
    }

    .character {
        height: 40%;

        &.jump-to-top {
            bottom: 20%;
        }
    }

    .reloadWrap {
        top: 3.6%;
    }

    .resultTitle {
        top: 16%;
        font-size: 32px;
    }

    .inputWrap {
        margin-bottom: 14px;

        h2 {
            margin-bottom: 14px;
        }
    }

    .target-list label span {
        font-size: 14px;
        line-height: 2.4em;        
    }
}

/*** PHONES ***/

/*** Phones H ***/
@media only screen and (max-width: 915px) and (max-height: 414px) {    
    .wall {
        background-position: 50% 0;
    }

    .gong-popup {
        background-size: 30vw;
    }

    .progressbar {
        width: 65%;
    }

    .name {
        font-size: 12px;
    }

    .control {
        top: 50%;
    }

    .character {
        height: 70%;
    }

    .reloadWrap {
        top: 1.5%;
    }

    .resultTitle {
        top: 24%;
        font-size: 20px;
    }

    .inputWrap {
        margin-bottom: 8px;

        h2 {
            font-size: 12px;
            margin-bottom: 8px;
        }
    }

    .target-list label span {
        width: 50px;
        font-size: 10px;
        line-height: 2.4em;        
    }
}

/*** Phones V ***/
@media only screen and (max-width: 414px) and (max-height: 915px) {
    .gong-popup {
        background-size: 50vw;
    }

    .progressbar {
        top: 8%;
        width: 85%;
    }

    .player1 .progressbar {
        left: 5%;
    }
    
    .player2 .progressbar {
        right: 5%;
    }

    .name {
        font-size: 12px;
    }

    .character {
        height: 35%;

        &.jump-to-top {
            bottom: 12%;
        }
    }

    .reloadWrap {
        top: 16%;
    }

    .resultTitle {
        top: 30%;
        font-size: 24px;
    }

    .inputWrap {
        width: 230px;
        margin-bottom: 12px;

        h2 {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }

    .target-list label span {
        width: 50px;
        font-size: 12px;
        line-height: 2.4em;        
    }
}